body
    font-size 14px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(202, 202, 202);

h2,h3,h4,h5,ul,body,html
    padding 0px;
    margin 0px;

.mtop16
    margin-top: 16px
.mtop8
    margin-top: 8px

.wrapper
    min-height 100% //El contenedor abarque minimo el 100% de nuestro monitor
    overflow hidden //Como se tendran flotando las 2 columnas, estas seguiran siendo rigidas
    .col1
        float left
        position relative
        z-index 999 //Posizionar en el eje z un contenedor
        width 17%
    .col2
        float left
        width 83%

.sidebar
    background-color: white
    min-height 100vh
    .section-top
        background-color: rgb(255, 213, 123)
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.192) //Sombra de la seccion top
    .logo
        display: block
        margin 0px auto
        padding-top: 25px
        width: 60%
    .user
        color: rgb(0, 0, 0)!important
        padding: 16px
        font-size: 17px
        .email
            color: rgb(90, 90, 90)
        
            
    .main //Parte inferior de la sidebar donde se muestran las opciones
        ul 
            li
                margin button 4px
                a
                    font-family: 'Righteous', cursive;
                    text-decoration:none!important
                    color: rgb(0, 0, 0)!important  
                    display: block
                    font-size: 1.2rem
                    padding 12px 20px
                    i
                        margin-right: 8px
                    &:hover
                        background-color: rgb(155, 61, 25)
                        color: rgb(255, 255, 255)!important
.navbar //Barra de navegación
    background-color: rgb(0, 0, 0) 
    a
        color: white!important

.page //Subbarra de navegacion
    padding-top: 16px
    padding-bottom: 16px
    .breadcrumb
        background-color: white 
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.192) 
        padding: 16px
    
    .panel //Todo lo que esta dentro del contenido real de la página
        background-color: white
        border-radius: 20px
        border-bottom: 5px solid rgb(255, 213, 123)
        width 100% 
        .header
            border-bottom: 7px solid rgb(158, 108, 0) 
            h2.title
                display: inline-block
                font-family: 'Righteous', cursive;
                color: rgb(133, 84, 10)
                padding: 16px
                font-size: 2rem
            ul
                display inline-block
                float: right
                text-decoration: none
                li
                    display inline-block
                    position relative
                    a
                        padding:16px
                        display: inline-block   
                        border-bottom: 1px solid rgb(87, 87, 87) 
                    ul
                        background-color: white
                        display: none
                        float none
                        position absolute
                        width: 200px
                        
                    &:hover
                        ul
                            display: block

        .inside //Cuerpo de la caja general
            padding 16px
            .form_search
                display: none
                margin-bottom: 15px
                     

.bienv
    font-size: 40px
