color1=rgb(156, 42, 42)

.white
    color:white

body
    background-color: rgb(255, 248, 236)
    font-size: 15px
    
nav
    background-color: rgb(0, 0, 0)
    border-bottom: rgb(161, 52, 1) solid 10px
    .navbar-brand
        font-family: 'M PLUS 1 Code', sans-serif;
        &:hover
            color: rgb(226, 90, 0)!important
        img
            width: 100px
    .nav-item
        margin-left: 15px
        font-size: 18px
    
.table
    color: red
.contenedor
    margin: 60px


    